*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display:flex;
    flex:1;
    justify-content: center;
    align-items: center;
    background: #292b2c;
    color: #fff;
    padding: 10px 5px;
}

header>h1{
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5rem;
}
div.card{
    position: fixed;
    top: 0;
    left: 0;
    min-width:100%;
    min-height: 100%;
    background: rgba(0,0,0,0.5);
    overflow: hidden;
    margin: 1px auto;
}
div.card-wrapper{
    width: 400px;
    margin: 20% auto 0 auto;
    border: 2px inset #fff;
    background: white;
}
div.card-header{
    background: #292b2c;
    color: #fff;
    padding: 10px;
    font-size: 1.5rem;
    font-family: sans-serif;
}
div.card-body{
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 10px 10px;
}

.card-body form{
    margin: 5px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

form input[type='email'],
form input[type='password']{
padding: 5px;
font-size: 1.2rem;
margin-bottom: 20px;
border: none;
border-bottom: 2px solid dodgerblue;
outline: none;
}

form input[type='submit']{
padding: 10px;
background: dodgerblue;
opacity: 0.9;
font-weight: bold;
color: white;
cursor: pointer;
font-size: 20px;
}
form input[type='submit']:hover{
    opacity: 1;
}

.err-text{
    text-align: center;
    color: red;
    font-family: sans-serif;
    font-size: 0.8em;
    margin-bottom: 20px;
    margin-top: 20px;
}

footer{
    width: 100%;
    position: fixed;
    top: 96%;
    left:0;
    text-align: center;
    background: #292b2c;
    color: #fff;
    font-weight: bold;
    padding: 5px;
}
